.banner {
    background: url('https://a0.muscache.com/im/pictures/258b129d-d1cd-48b5-86d4-86206c13ebf7.jpg?im_w=2560')center/cover no-repeat;
    position: relative;
    height: 80vh;
    width: 100%;
}
.banner-info {
  
    background-color: black;
    color: white;
    padding: 19vh 50px 40px 50px;
    width: 23%;
}

.banner-info  > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}
.banner-info > h1 {
    font-size: 2em;
}

.banner-info  > h5 {
    margin-top: 5px;
    letter-spacing: 1px;
}




.banner-search {
    display: flex;
    flex-direction: column;
}
.banner-searchButton {
    background-color: white !important;
    font-weight:900;
    text-transform: inherit !important;
    color: #ff7779 !important;
}




@media only screen and (max-width: 985px) {

    .banner {
        background: url('https://a0.muscache.com/im/pictures/258b129d-d1cd-48b5-86d4-86206c13ebf7.jpg?im_w=2560')center/cover  no-repeat;
        position: relative;
        height:50vh;
        width: 100%;
    }

    .banner-info {
  
        background-color: black;
        color: white;
        padding: 2vh 50px 20px 50px;
        width: 25%;
    }
    .banner-info > h1 {
        font-size: 1em;
    }
    .banner-info  > h5 {
        margin-top: 5px;
        font-size: 0.5em;
        color: grey;
    }

    .banner-info > .MuiButton-outlined {
       font-weight: 100;
       padding: 2px 3px;
  }
}