.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
  
}

.header-icon {
   object-fit: contain;
   height: 100px;
   margin-left: 20px; 
}

.header-center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 10px;
    height: 30px;
}

.header-center > input{
   border: none;
   outline-width: 0;
   padding: 10px;
   background: transparent;
   /* background-color: antiquewhite; */
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
    width: 250px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header-center {
        display: flex;
        align-items: center;
        flex: 0.3;
        min-width: fit-content;
     
     padding: 2px;
     padding-bottom: 5px;
     margin-bottom: 10px;
        height: 20px;
    }

    .header-center > input{
       border: none;
        outline-width: 0;
        padding: 2px 0px 2px 0px;
       
     }

     .header-right {
         display: flex;
         flex-grow: inherit;
         justify-content: space-between;
         margin-right: 0;
         padding: 5px;
         align-content: space-between;
         width: 60%;
        
     }
  }