.home {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home-section {
    /* display: flex;

    padding: 30px;
    justify-content: center; */
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding:30px;
}

@media only screen and (max-width: 600px) {
    .home-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }
    
  }